# User defined input
[DEFAULT]
steps = dataprep, cal, selfcal, ddcal

prog_dir = /home/fdg/phd/obs/cspam

data_dir = /path/to/data

# 0 = silent, 1 = default, 2 = debug
debug = 2

# MS specific input
[ms1.MS]
# flags in ant:time format (nothing means either all antennas or all time ranges)
flag = C14,E03,E04,S01,W01=; =22:30:00~22:43:00; C03=22:52:30~22:55:30
source = 2
cal = 1

[ms2.MS]
source = 2
cal = 1
