# User defined input
[DEFAULT]
#steps = dataprep, cal, selfcal, ddcal
steps = dataprep, cal

prog_dir = /home/fdg/phd/obs/cspam

data_dir = /media/usb0/cspam

# 0 = silent, 1 = default, 2 = debug
debug = 2

# MS specific input
[TLOW0002_swap.ms]
# flags in ant:time format (nothing means either all antennas or all time ranges)
#flag = C14,E03,E04,S01,W01=; =22:30:00~22:43:00; C03=22:52:30~22:55:30
flag = 
cal_scans = 16
spw = 6
central_chan_percentage = 10
