# User defined input
[DEFAULT]
#steps = dataprep, cal, selfcal, ddcal
steps = cal

prog_dir = /home/fdg/phd/obs/cspam

data_dir = /home/fdg/phd/obs/cspam/example

# 0 = silent, 1 = default, 2 = debug
debug = 2

# MS specific input
[20_004_02JUL2011_A115.625MHZ.MS]
# flags in ant:time format (nothing means either all antennas or all time ranges)
#flag = C14,E03,E04,S01,W01=; =22:30:00~22:43:00; C03=22:52:30~22:55:30
flag = 
#tgt_scans = 2
cal_scans = 1,2,3
spw = 6
central_chan_percentage = 10

[20_004_02JUL2011_A115.625MHZ.MS]
