## User defined input
[DEFAULT]

## Note that you can't do peeling without selfcal
steps = plots, preflag, setjy, bandpass, cal, selfcal, peeling, createimage

## Data directory, make sure there is no / at the end of the path
data_dir = /data2/kvdam/test_data/GMRT_testdata


# MS specific input
[XSshaped_610.ms]
# Scans (ids) to be used for the calibrator(s) (nothing means all scans are used)
cal_scans = 1,3,5,7,9,11,13

# Scans (ids) to be used for the target(s) (nothing means all scans are used)
tgt_scans = 2,4,6,8,10,12

# Fields (id) to be used for specific calibration types.
# Nothing means that the calibrator(s) is selected automatically (the first it finds) 
# and this one will be used for all purposes. 
# Note that this selection accounts for the scans to be used in cal_scans (see above).
flux_cal_field = 
phase_cal_field = 
leakage_cal_field = 
position_cal_field = 
angle_cal_field = 

# Note that the following options are not used in the pipeline yet.
# Spectral window (nothing means no window)
spw =

# Percentage of central channels (zero means no central channels)
central_chan_percentage = 0

# flags in ant:time format (nothing means either all antennas or all time ranges)
# e.g.: flag = C14,E03,E04,S01,W01=; =22:30:00~22:43:00; C03=22:52:30~22:55:30
flag =
