# User defined input
[DEFAULT]

# Note that you can't do peeling without selfcal
steps = plots, preflag, setjy, bandpass, cal, selfcal, peeling, createimage

prog_dir = /home/kvdam/Documents/MA-project-2/cspam/cspam

# make sure there is no / at the end of the path
data_dir = /data2/kvdam/test_data/GMRT_testdata

# MS specific input
[XSshaped_610.ms]
# flags in ant:time format (nothing means either all antennas or all time ranges)
#flag = C14,E03,E04,S01,W01=; =22:30:00~22:43:00; C03=22:52:30~22:55:30
flag =
cal_scans = 1,3,5,7,9,11,13
tgt_scans = 2,4,6,8,10,12
spw =
central_chan_percentage = 0
