# User defined input
[DEFAULT]
#steps = dataprep, cal, selfcal, ddcal
steps = dataprep, cal

prog_dir = /home/kvdam/Documents/MA-project-2/cspam/cspam

# make sure there is no / at the end of the path
data_dir = /net/dedemsvaart/data2/kvdam/test_data/VLA_testdata

# 0 = silent, 1 = default, 2 = debug
debug = 2

# MS specific input
[G55.7+3.4_10s.ms]
# flags in ant:time format (nothing means either all antennas or all time ranges)
#flag = C14,E03,E04,S01,W01=; =22:30:00~22:43:00; C03=22:52:30~22:55:30
flag =
cal_scans =
tgt_scans =
spw =
central_chan_percentage = 0
